# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Django SQLite database
db.sqlite3

# Static and media files
staticfiles/
media/

# Environment variables
.env
*.env

# VS Code / PyCharm settings
.vscode/
.idea/

# macOS
.DS_Store

# Python virtual environments
env/
venv/
skills/  # only if 'skills' is your virtualenv name

# Log files
*.log

# Testing
.coverage
htmlcov/
pytest_cache/
.mypy_cache/
